<!doctype html>
{% load static %}
<html lang="es-CL">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <script src="{% static "js/validator.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/lightbox.min.css" %}" type="text/css">
    
    <link rel="stylesheet" href="{% static "css/Social.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/style2.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
    
    
    <title>Administrador</title>
  </head>
  <body>
      
      <header class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" href="#">Alejandro Cornejo</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">Lista de empleados</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/peluqueria">Lista de trabajos</a>
                </li>
              {% if user.is_authenticated %}
              <li class="nav-item active">
                <a class="nav-link ">Administrador: {{USUARIO}}</a>
              </li>
              
              <li class="nav-item active">
                  <a class="nav-link" href="{% url "cerrar_session" %}">Cerrar Sesión <span class="sr-only">(current)</span></a>
                  {% else %}
                  <a class="nav-link" href="{% url "login"%}">Ingresar <span class="sr-only">(current)</span></a>
                  
                </li>
                {% endif %}
            </ul>
            
            <form class="form-inline mt-2 mt-md-0">

            </form>
          </div>
      </header>
<br><br><br>
          
        
      
      {% if USUARIO is not None %}
      <div class="container">
          <h1>{{name}}</h1>













          <!-- nombre = models.CharField(max_length=40)
    raza = models.CharField(max_length=40)
    foto = models.ImageField(upload_to="fotos/")
    descripcion = models.CharField(max_length=40)
    estado = models.CharField(max_length=40) -->
          <h6>{{ ultimo_creado }}</h6>
        <form id="formulario" enctype="multipart/form-data" action="{% url 'crearTrabajo' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="tipotrabajo">Tipo de trabajo</label>
            <input type="text" class="form-control" name="tipotrabajo" id="tipotrabajo" placeholder="Tipo de trabajo" required>
          </div>
          <div class="form-group">
            <label for="precio">Precio</label>
            <input type="number" class="form-control" name="precio" id="precio" placeholder="Precio" required>
          </div>

            <br>
            <button type="submit" class="btn btn-primary">Agregar trabajo</button>
            <a href="/peluqueria/caja"><button type="button" class="btn btn-success">Ver caja</button></a>
          </form>
      </div>
      {% endif %}
      <div class="container">
          <h2>Listado de cortes de pelo y trabajos</h2>
          <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre trabajo</th>
                    <th scope="col">Precio</th>
                    {% if user.is_authenticated %}
                    <th>Acciones</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                    {% for c in cortes %}
                        <tr>
                            <th scope="row">{{c.id}}</th>
                            <td>{{c.tipotrabajo}}</td>
                            <td>{{c.precio}}</td>
                            {% if user.is_authenticated %}
                            <td> <a style="color: blue" id="borrar" href="/registro/eliminarTrabajo/{{c.id}}">Borrar</a>
                                <a id="edit" href="/editarPerro/{{p.id}}" onclick="editarPerro('{{p.nombre}}','{{p.raza}}','{{p.id}}','{{p.foto}}','{{p.descripcion}}','{{p.estado}}')" >Editar</a> </td>
                            {% endif %}
                        </tr>
                    {% endfor %}                  
                </tbody>
              </table>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/validator.js" %}"></script>
    <script src="{% static "js/jquery-3.3.1.js" %}"></script>
    <script src="{% static "js/popper.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/jquery.validate.js" %}"></script>
    <script src="{% static "js/lightbox.min.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</body>
</html>