{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static "css/carousel.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
</head>

<center><body style="background-image: url('{% static "images/dubai2.jpg" %}');" >
    <br>
    <br>
    <br>

    <div class="container">
   
       <div style="background-color:rgba(255, 255, 255, 0.63); width: 700px; border-radius: 30px;" class="container">
       
            <!-- form start -->
            <form method="POST" action="{% url 'crearusuario' %}" role="form" id="register-form" autocomplete="off">
                    {% csrf_token %}
            <div class="form-header">
                 <br>
             <h3 class="form-title"><i class="fa fa-user"></i> Registro de trabajadores</h3>
                         
                         
            </div>
            
            <div class="form-body">
                         
               <div class="form-group col-md-6">
                      <div class="input-group">
                      
                      <input name="nombre" type="text" class="form-control" placeholder="Nombre">
                      </div>
                 </div>
                           
                 <div class="form-group col-md-6">
                      <div class="input-group">
                      
                      <input name="apellido" type="text" class="form-control" placeholder="Apellido">
                      </div>                
                 </div>

                 <div class="form-group col-md-6">
                         <div class="input-group">
                         
                         <input name="rut" type="text" class="form-control" id="rut" maxlength="11" required oninput="checkRut(this)"  placeholder="Rut">
                         </div>
                    </div>
                           
                 
                           
                    <div class="form-group col-md-6">
                           <div class="input-group">
                           
                           <input name="telefono" type="text" class="form-control" placeholder="Telefono">
                           </div>                  
                    </div>

                    <div class="form-group col-md-6">
                              <div class="input-group">
                              
                              <input name="fechaingreso" type="date" class="form-control" placeholder="Fecha Ingreso">
                              </div>                  
                       </div>

                       <div class="form-group col-md-6">
                              <div class="form-group">

                                        <select name="rol" class="form-control" id="exampleFormControlSelect1">
                                          <option hidden="true" >Seleccione</option>
                                          <option value="A">Peluquero</option>
                                          <option value="B">Cajero</option>
                                        </select>
                                      </div>                  
                       </div>

                       <div class="form-group col-md-6">
                              <div class="input-group">
                              
                              <input name="contrasenia" type="password" class="form-control" placeholder="Contraseña">
                              </div>
                         </div>
                               
                      
                               
                
                           
                           
               </div>
               <br>
               <div class="form-footer">
                    <button type="submit" class="btn btn-info">
                    <span class="glyphicon glyphicon-log-in"></span> Registrarme !
                    </button>
               </div>
               <br>
   
   
               </form>
               
              </div>
   
    </div></center>
       
    <script src="{% static "js/jquery-3.3.1.js" %}"></script>
    <script src="{% static "js/popper.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/jquery.validate.js" %}"></script>
    <script src="{% static "js/lightbox.min.js" %}"></script>
    <script src="{% static "js/register.js" %}"></script>
    <script src="{% static "js/validarRUT.js" %}"></script>
</body>
</html>